<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great WebApp</title>
    <link href="/bootstrap.css" type="text/css" rel="stylesheet"> 
</head>

<body>
    <div class="container">
        <h1> Welcome to this great WebApp</h1> <a href="">get_help</a>
        <br>
        <h2> Here, you are able to see a nice picture...</h2>
        <h2>...</h2>
        <hr>
		<img src="/ocean.jpg" alt="" />
      
        <div class="text-center">
            This is a node.js app
            <br>
            Copyright Eric Vonarx 2020
        </div>
    </div>
</body>

</html>